/* Base */
* {
    padding: 0;
    margin: 0;
    outline: none !important;
    transition: background 500ms ease-in-out, color 250ms ease-in-out;
}

body {
    background-color: var(--background-color);
    word-wrap: break-word;
    width: 100%;
    padding: calc(60px) 0 0 0;
    text-align: center;
}

h1,
h2,
h3,
h4,
s1,
s2,
s3,
s4 {
    font-family: var(--heading-font-family);
    color: var(--heading-color);
    text-transform: uppercase;
}

s1,
s2,
s3,
s4 {
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1,
s1 {
    font-size: 2.5rem;
}

h2,
s2 {
    font-size: 2rem;
}

h3,
s3 {
    font-size: 1.5rem;
}

h4,
s4 {
    font-size: 1rem;
}

p {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--foreground-color);
}

li,
ol,
ul {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--foreground-color);
    margin-left: 2rem;
}

hr {
    width: 100%;
    float: left;
    border: 0.0625rem solid var(--foreground-color);
}

blockquote {
    padding-left: 1rem;
    border-left: 0.25rem solid var(--heading-color);
}

a:link {
    color: var(--link-color);
    transition: 0.2s;
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

a:active {
    color: var(--link-color);
}

p.disappear {
    background: -webkit-linear-gradient(var(--foreground-color), var(--paper-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paper {
    display: flex;
    border-radius: 0.25rem;
    background-color: var(--paper-color);
    padding: 5%;
    margin: 32px 5% 0 5%;
    display: inline-block;
    text-align: left;
}

// Small devices (landscape phones, 300px and up)
@media (min-width: 360px) {
    .paper {
        width: 90%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .paper {
        width: 90%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .paper {
        width: 90%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .paper {
        width: 90%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .paper {
        width: calc(972px + 10%);
    }
}