/* Base */
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  transition: background 250ms ease-in-out, color 125ms ease-in-out;
}

body {
  background-color: var(--background-color);
  word-wrap: break-word;
  width: 100%;
  text-align: center;
}

.paper {
  display: flexbox;
  border-radius: 0.25rem;
  background-color: var(--paper-color);
  margin: 0 auto 0 auto;
  padding: 5%;
  text-align: left;
  word-wrap: normal;
  width: 100%;
  max-width: calc(680px + 10%);
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin: 0;
  padding: 32px 5% 32px 5%;
}

@media only screen and (max-width: 360px) {
  .paper {
    word-wrap: break-word;
  }
}
