code {
    font-family: var(--monospace-font-family);
    border-radius: 0.25rem;
}

.highlighter-rouge {
    color: var(--code-block-color);
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    line-height: 1rem;
}