:root {
    --link-hover-color: #81a1c148;
    --highlight-color: #81a1c1;
}

html, html[data-theme="light"] {
    --paper-color: #ffffff;
    --background-color: #eceff4;
    --menu-background-color: #2e3440;

    --foreground-color: #2e3440;
    --menu-foreground-color: #eceff4;

    --link-color: #81a1c1;

    --code-foreground-color: #2e3440;
    --code-background-color: #eceff4;

    --table-header-color: #2e3440;
    --table-header-bg-color: #d8dee9;
}

html[data-theme="dark"] {
    --paper-color: #3b4252;
    --background-color: #2e3440;
    --menu-background-color: #242933;

    --foreground-color: #d8dee9;
    --menu-foreground-color: #eceff4;

    --link-color: #88c0d0;

    --code-foreground-color: #d8dee9;
    --code-background-color: #2e3440;
    
    --table-header-color: #d8dee9;
    --table-header-bg-color: #2e3440;
}