/* FUTURA PT */
@font-face {
    font-family: Futura PT;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/FuturaPTLight.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/FuturaPTLightOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/FuturaPTBook.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/FuturaPTBookOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/FuturaPTMedium.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/FuturaPTMediumOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/FuturaPTDemiOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/FuturaPTBold.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/FuturaPTBoldOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/FuturaPTExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/FuturaPTExtraBoldOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/FuturaPTHeavyOblique.otf") format("opentype");
}

/* DANK MONO */
@font-face {
    font-family: Dank Mono;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Dank Mono Regular.otf") format("opentype");
}

@font-face {
    font-family: Dank Mono;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Dank Mono Italic.otf") format("opentype");
}