footer {
    font-family: var(--heading-font-family);
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: var(--foreground-color);
    margin: 0 0 2em 0;
    padding: 0;
    max-width: calc(680px + 8em);
}

.social:link {
    color: var(--link-color);
    transition: 0.25s;
    text-decoration: none;
}

.social:hover {
    color: var(--foreground-color);
    background: none;
}

.social:visited,
.social:active {
    color: var(--link-color);
}
