.fa-moon:hover,
.wi-day-sunny:hover,
.fa-bars:hover {
    color: var(--highlight-color);
}

.fa-moon,
.wi-day-sunny {
    color: var(--menu-foreground-color);
    font-size: 1rem;
    display: inline-block;
    width: 2rem;
}

.fa-bars {
    color: var(--foreground-color);
    font-size: 1.25rem;
}