.fa-moon,
.wi-day-sunny {
    color: var(--foreground-color);
    line-height: 0.5rem;
    font-size: 1rem;
    display: inline-block;
    width: 2rem;
}

.fa-moon {
    margin-bottom: 0.25rem;
}

.wi-day-sunny {
    margin-bottom: 0.125rem;
}

.fa-bars {
    color: var(--foreground-color);
    line-height: 1rem;
    font-size: 1rem;
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
}

.fa-bars:hover {
    border-radius: 0.25rem;
    background-color: var(--hover-color);
    transition: 0.25s ease;
}