img {
    display: block;
    border-radius: 0.25rem;
    width: 100%;
    margin: 0 auto;
}

img.hero {
    display: block;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
}

img.inline-left {
    float: left;
    margin-right: 16px;
    width: 50%;
}

img.inline-right {
    float: right;
    margin-left: 16px;
    width: 50%;
}

img.gallery {
    height: 100%;
    object-fit: cover;
}

div.gallery {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px;
}

div.gallery-item {
    width: 100%;
}

div.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 10%;
}
div.hero-test {

}

// Small devices (landscape phones, 300px and up)
@media (min-width: 360px) {
    div.hero {
        height: 240px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    div.hero {
        height: 384px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    div.hero {
        height: 512px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    div.hero {
        height: 512px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    div.hero {
        height: 512px;
    }
}


