t1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    vertical-align: middle;
}

m1 {
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-size: 1.5rem;
    vertical-align: middle;
}

.navbar {
    background: var(--menu-background-color);
}

.navbar-collapse ul {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

button.navbar-toggler {
    margin: 0;
    padding: 0;
}

.active {
    font-weight: 500;
}

a.nav-link {
    color: var(--foreground-color) !important;
    line-height: 1.5rem;
    padding: 0.25rem 0 0.25rem 0;
}

.nav-item {
    text-align: center;
}

.nav-item:hover {
    border-radius: 0.25rem;
    background-color: var(--hover-color);
    transition: 0.25s ease;
}

@media only screen and (min-width: 992px) {
    .nav-item {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 991px) {
    .nav-item {
        margin: 0;
    }
}

