* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--menu-background-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 6px #00000088;
}

a.logo {
  display: flex;
  align-items: center;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
  color: var(--menu-foreground-color);
  text-transform: uppercase;
  margin-right: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  vertical-align: middle;
}

.nav-links li {
  margin: 0;
}

.nav-links a,
.overlay-content a {
  font-family: Futura PT;
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 0.1875em;
  text-transform: uppercase;
  color: var(--menu-foreground-color);
  text-decoration: none;
}

.nav-links li {
  padding: 0 0.5em;
}

.nav-links li a {
  transition: all 0.125s ease-in-and-out 0s;
}

.nav-links li a:hover,
a.logo:hover {
  color: var(--highlight-color);
  border: none;
  background: none;
}

/* Mobile Nav */

.menu {
  display: none;
  margin: 0 0 0 1rem;
  color: var(--menu-foreground-color);
}

.overlay {
  width: 100%;
  height: 0%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--menu-background-color);
  overflow-x: hidden;
  transition: all 0.5s ease-in-out 0s;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.overlay-active {
  height: 100%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-content a {
  cursor: pointer;
}

.overlay-content a:hover {
  cursor: pointer;
  color: var(--highlight-color);
  background: none;
}

.overlay a {
  margin: 1rem;
  font-size: 2rem;
  display: block;
  transition: all 0.25s ease-in-and-out 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--highlight-color);
}
.overlay {
  position: absolute;
  font-size: 2rem;
}

@media only screen and (max-width: 679px) {
  .nav-links {
    display: none;
  }

  .menu {
    display: initial;
  }
}