table,
th,
td {
    font-family: var(--monospace-font-family);
    font-size: 1em;
    border: 0.125em solid var(--foreground-color);
    border-collapse: collapse;
    color: var(--foreground-color);
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1em;
}

th,
td {
    padding: 0.25em;
}

th {
    font-style: italic;
    background-color: var(--table-header-bg-color);
    color: var(--table-header-color)
}