h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    color: var(--foreground-color);
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

p {
    font-family: var(--body-font-family);
    font-weight: 300;
    font-size: 1em;
    color: var(--foreground-color);
    margin: 0 0 1em 0;
}

ul, ol, dd, dl {
    margin-bottom: 1em;
}

li {
    font-family: var(--body-font-family);
    font-weight: 300;
    font-size: 1rem;
    color: var(--foreground-color);
    list-style-position: outside;
    margin: 0 0 0 1em;
}

hr {
    width: 100%;
    float: left;
    border: 0.0625em solid var(--foreground-color);
    margin-top: 0;
    margin-bottom: 1em;
}

blockquote {
    opacity: 75%;
    padding: 0 0 0 1em;
    border-left: 0.125em solid var(--highlight-color);
    margin: 0.5em 0;
}

a:link {
    color: var(--link-color);
    padding: 0 0.125em;
    transition: 0.25s;
    text-decoration: none;
}

a:hover {
    border-radius: 0.25em;
    background-color: var(--link-hover-color);
}

a:visited,
a:active {
    color: var(--link-color);
}

a.blog-link:link {
    color: var(--link-color);
    transition: 0.25s;
    text-decoration: none;
}

a.blog-link:hover {
    color: var(--foreground-color);
    background: none;
}

a.blog-link:visited,
a.blog-link:active {
    color: var(--link-color);
}

p.disappear {
    background: -webkit-linear-gradient(var(--foreground-color), var(--paper-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
