label.theme-switch {
    padding-bottom: 0.5rem;
    margin: 0;
}

label:hover {
    border-radius: 0.25rem;
    background-color: var(--hover-color);
    transition: 0.25s ease;
}

.theme-switch input[type="checkbox"],
.theme-switch .checked {
    display: none;
}

.theme-switch input[type="checkbox"]:checked~.checked {
    display: inline-block;
}

.theme-switch input[type="checkbox"]:checked~.unchecked {
    display: none;
}

.unchecked,
.checked {
    vertical-align: middle;
    margin-top: 0.5em;
    padding: 0 0.4rem 0 0.4rem;
}