<footer>
    <p>
        {% if site.social %}
            {% for service in site.social %}
                {% if service.id and service.href %}
                    <a href="{{ service.href }}{{ service.id }}" title="{{ service.title }}"><i class="{{ service.fa-icon }}"></i></a>
                {% else %}
                    <i class="fa {{ service.fa-icon }}"></i>{{ service.id }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
        {{ site.copyright }}
    </p>
</footer>
