{% assign galitems = page[include.id] %}

<div class="gallery">
    {% for img in galitems %}
        {% if img.resize %}
            <div class="gallery-item">
                <a href="{{ img.url | relative_url }}" data-lightbox="{{ include.id }}" data-title="{{ img.caption }}">
                    <img class="gallery" src="{{ img.url | relative_url }}">
                </a>
            </div>
        {% else %}
            <img src="{{ img.url | relative_url }}" alt="{{ img.caption }}">
        {% endif %}
    {% endfor %}
</div>
<script src="{{ "/assets/js/lightbox.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/image-handler.js" | relative_url }}"></script>
