<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand">
            <t1 style="line-height: 0.85em;">{{ site.title }}</t1>
        </a>
        <div class="d-flex order-lg-1 ml-auto pr-2">
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <i class="wi wi-day-sunny checked"></i>
                        <i class="fas fa-moon unchecked"></i>
                    </label>
                </li>
                <script src="{{ "/assets/js/dark-mode.js" | relative_url }}"></script>
            </ul>
        </div>
        <button style="border: 0;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for item in site.menu %}
                <li class="nav-item">
                    {% if page.url == item.url %}
                    <m1>
                        <a class="nav-link active" href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
                    </m1>
                    {% else %}
                    <m1>
                        <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
                    </m1>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>