<header>
    {%- if site.logo -%}
        {%- if site.logo-text -%}
            <a class="logo" href="/">
                <img style="margin-right: 0.5rem;"class="logo" src="{{ site.logo }}">{{ site.title }}
            </a>
        {%- else -%}
            <a class="logo" href="/">
                <img style="margin-right: 0.5rem;"class="logo" src="{{ site.logo }}">
            </a>
        {%- endif -%}
    {%- else -%}
        <a class="logo" href="/">{{ site.title }}</a>
    {%- endif -%}
    <nav>
        <ul class="nav-links">
            {% for item in site.menu %}
            <li>
                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div>
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <i style="font-size: 0.825em;" class="wi wi-day-sunny checked"></i>
            <i style="font-size: 0.825em;" class="fas fa-moon unchecked"></i>
        </label>
    </div>
    <script src="{{ "/assets/js/dark-mode.js" | relative_url }}"></script>
    <div class="menu">
        <i style="font-size: 1em;" class="fas fa-bars"></i>
    </div>
</header>

<div id="mobile-menu" class="overlay">
    <div class="overlay-content">
        <a class="close">&times;</a>
        {% for item in site.menu %}
            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{{ "/assets/js/mobile.js" | relative_url }}"></script>
