/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* FUTURA PT */
@font-face {
    font-family: Futura PT;
    font-weight: 300;
    font-size: normal;
    src: url("../fonts/FuturaPTLight.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/FuturaPTLightOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/FuturaPTBook.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/FuturaPTBookOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/FuturaPTMedium.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/FuturaPTMediumOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/FuturaPTDemi.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/FuturaPTDemiOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/FuturaPTBold.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/FuturaPTBoldOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/FuturaPTExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/FuturaPTExtraBoldOblique.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
    font-family: Futura PT;
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/FuturaPTHeavyOblique.otf") format("opentype");
}

/* DANK MONO NF */
@font-face {
    font-family: Dank Mono NF;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Dank Mono Regular Nerd Font Complete.otf") format("opentype");
}

@font-face {
    font-family: Dank Mono NF;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Dank Mono Italic Nerd Font Complete.otf") format("opentype");
}