t1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--heading-color);
    
}

m1 {
    font-family: var(--heading-font-family);
    font-weight: 300;
    font-size: 1.5em;
    vertical-align: top;
    color: var(--foreground-color);
    padding: 0 0.25em 0.0625em 0.25em;
}

m1:hover {
    border-radius: 0.125em;
    background-color: var(--hover-color);
    transition: 0.25s ease;
}

button.navbar-toggler {
    margin: 0;
    padding: 0;
}

.active {
    font-weight: 500;
}

.nav-link {
    line-height: 1em;
}

.nav-item {
    text-align: center;
    margin-left: 1em;
}

@media screen and (min-width: 992px) {
    t1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 991px) {
    t1 {
        font-size: 8vw;
    }
}