t1 {
    font-family: Futura PT, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
    color: var(--heading-color);
}

m1 {
    font-family: Futura PT, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    vertical-align: top;
    color: var(--foreground-color);
}

.nav-link:hover {
    opacity: 50%;
    transition: opacity 0.25s ease;
}