---
layout: template
---
<div style="text-align: center;">
    <h1>{{ page.title }}</h1>
</div>

{%- assign posts = site.posts | where: "categories", page.category -%}
{%- if posts.size > 0 -%}
    {%- for post in posts -%}
        <div class="paper">
            <h2>
                <a class="blog-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h2>
            <h4>{{ post.date | date: "%B %d, %Y" }}</h4>
            {%- if site.show_excerpts -%}
                <p class="disappear">
                    {{ post.excerpt | strip_html }}
                </p>
                <div style="text-align: center;">
                    <p>
                        <a class="blog-link" href="{{ post.url | relative_url }}">
                            Read More <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </p>
                </div>
            {%- endif -%}
        </div>
    {%- endfor -%}
{%- else -%}
<h2>
    There are no posts.
</h2>
{%- endif -%}